/**
* Body
*/
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $primaryTextColor;
  background: $textPrimaryColor;
  -webkit-text-size-adjust: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}
#bg-blur {
  background: rgba(0,0,0,.6);
  z-index: 7;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
}
html, body {
  width: 100%;
  height: 100%;
}
.fixed {
  overflow: hidden;
}

.center-image {
    margin: 0 auto;
    display: block;
}

table {
    border-collapse:collapse;
    border-spacing:0;
    border:1px solid black;
}

td {
    text-align:left;
    font-weight:normal;
    vertical-align:middle; 
    border:1px solid black; 
    padding:5px;
}

th {border: 1px solid black; 
    padding:5px;}

/**
* Section
*/
section {
  font-size: 20px;
  line-height: 32px;
  p {
    color: $primaryTextColor;
    font-weight: 300;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
  }
  blockquote {
    font-size: 1.7rem;
    line-height: 2rem;
  }
}

  .gh-edit {
    float: right!important;
    font-size: 0.9rem;
  }

/**
* Site header
*/
header {
  background-color: $primaryColor;
  background-image: url(https://github.com/maratonago/maratonago.github.io/raw/master/_assets/images/header.png); 
  background-position: 1% 1%;
  background-repeat: no-repeat;
  color: $textPrimaryColor;
  position: relative;
  padding-top: 13%;
  padding-bottom: 18%;


  a {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
      color: $textPrimaryColor;
    }
  }
  h1 {
    font-size: 4rem;
    color: $textPrimaryColor;
    height: 1em;
    left: 0;
    line-height: 1;
    margin: auto;
    position: absolute;
    text-align: left;
    width: auto;
  }
  h1 span {
    font-size: 3rem;
    margin-right: 10px;
    color: $textPrimaryColor !important;
  }
  p {
    color: $textPrimaryColor;
    height: 1em;
    left: 0;
    line-height: 1;
    margin: auto;
    position: absolute;
    text-align: left;
    width: auto;
    font-weight: 200;
    font-size: 1.6rem;
    opacity: .8;
  }
}
header, footer, section {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  h1 {
    color: $textPrimaryColor;
    height: 1em;
    left: 0;
    line-height: 1;
    margin: auto;
    position: absolute;
    text-align: left;
    width: auto;
    font-weight: 400;
    margin-top: 25px;
  }
  padding-left: 6.5%;
  padding-right: 6.5%;
}
.wrapper {
  padding: 0 0 30px;
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
}
.page-content {
  padding-top: 50px;
  padding-bottom: 50px;
}


/**
* Post list
*/
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.hidden{
  opacity:0;
}
.visible{
  opacity:1;
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: .4s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
}
.post-list {
  display: block;
  margin: 0 auto;
  li {
    transition: .2s all ease;
    list-style: none;
    border-radius:5px;
    padding: 15px;
    width: 25vw;
    background: lighten($textPrimaryColor, 3.5%);
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 6px 25px -11px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 6px 25px -11px rgba(0,0,0,0.5);
    box-shadow: 0px 6px 25px -11px rgba(0,0,0,0.5);
    transition: all .2s cubic-bezier(.4, 0, .2, 1);
    &:hover {
      -webkit-box-shadow: 0px 8px 25px -7px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 8px 25px -7px rgba(0,0,0,0.5);
      box-shadow: 0px 8px 25px -7px rgba(0,0,0,0.5);
    }
    .post-meta {
      color: $secondaryTextColor;
    }
    a {
      width: 100%;
      height: 100%;
      color: $primaryTextColor;
      transition: .2s all ease;
      text-decoration: none;
      font-weight: 500;
      &:hover {
        color: $secondaryTextColor;
      }
    }
    h2 {
      margin-top: 5px;
      font-size: 35px;
      line-height: 2.8rem;
    }
  }
}


/**
*Menu
*/


.nav-hide {
  transition: all ease .15s;
  top: -60px;
}

@mixin navToggle($left, $top) {
  position: absolute;
  width: 30px;
  height: 60px;
  top: $top;
  left: $left;
  transition-duration: 0.2s;
}

@mixin icon($height, $width) {
  transition-duration: 0.2s;
  position: absolute;
  height: $height;
  top: 25px;
  width: $width;
  background-color: $textPrimaryColor;
}

@mixin icon-before($height, $width) {
  transition-duration: 0.2s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $textPrimaryColor;
  content: "";
  top: -10px;
}

@mixin icon-after($height, $width) {
  transition-duration: 0.2s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $textPrimaryColor;
  content: "";
  top: 10px;
}


nav{
  z-index: 7;
  width: 100%;
  max-height: 60px;
  background-color: $primaryColor;
  top: 0;
  transition-duration: 0.3s;
  transition-timing-function: swing;
  position: fixed;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1), 0px 4px 8px rgba(0,0,0,0.1);
  &.open{
    max-height: 700px;
    transition: max-height 0.2s ease-in;
  }
  .nav-title {
    margin-left: 80px;
    margin-top: 14px;
    font-weight: 300;
    font-size: 1.3rem;
    color: white;
    float: left;
  }
  ul{
    padding-top: 60px;
    margin-bottom: 0;
    li{
      list-style: none;
      transition: all 0.2s;
      a{
        padding: 1em 2em 1em 1.5em;
        display: inline-block;
        text-decoration: none;
        font-size: 1.15em;
        width: 100%;
        height: 100%;
        color: $textPrimaryColor !important;
      }
      &:hover {
        background: $darkPrimaryColor;
      }
    }
  }
}

.navToggle{
  @include navToggle(25px, 3px);
  &:hover{
    cursor: pointer;
  }
  .icon-left {
    @include icon(4px, 15px);
    &:before{
      @include icon-before(4px, 15px);
    }
    &:after{
      @include icon-after(4px, 15px);
    }
  }
  .icon-right {
    @include icon(4px, 15px);
    left: 15px;
    &:before{
      @include icon-before(4px, 15px);
    }
    &:after{
      @include icon-after(4px, 15px);
    }
  }
  &.open {
    .icon-left {
      transition-duration: 0.2s;
      background: transparent;
      &:before{
        transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
        -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
        -o-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
        -ms-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
        -moz-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
      }
      &:after{
        transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
        -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
        -o-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
        -ms-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
        -moz-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
      }
    }
    .icon-right {
      transition-duration: 0.2s;
      background: transparent;
      &:before{
        transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
        -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
        -o-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
        -ms-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
        -moz-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
      }
      &:after{
        transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
        -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
        -o-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
        -ms-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
        -moz-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
      }
    }
  }
}

/**
* Post list
*/
#previous_link, #next_link {
  visibility: hidden;
}


/**
* Footer
*/
footer {
  background: $secondaryTextColor;
  color: $dividerColor;
  padding-top: 30px;
  padding-bottom: 20px;
  a {
    transition: .2s all ease;
      color: $textPrimaryColor !important;
  }
  p {
    padding-top: 10px;
  }
  .social {
    margin-bottom: -5px;
    list-style: none;
    li {
      display: block;
      font-size: 1.4rem;
      a {
        margin-right: 10px;
        float: right;
        span {
          color: $dividerColor;
        }
        &:hover span {
          color: $textPrimaryColor;
        }
      }
    }
  }
}
.pulse {
  color: $accentColor;
  -webkit-animation-name: 'pulse';
  -webkit-animation-duration: 1700ms;
  -webkit-transform-origin:70% 70%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(1); }
  30% { -webkit-transform: scale(1); }
  40% { -webkit-transform: scale(1.3); }
  50% { -webkit-transform: scale(1); }
  60% { -webkit-transform: scale(1); }
  70% { -webkit-transform: scale(1.3); }
  80% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.3); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.3); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}
@-moz-keyframes pulse {
  0% { -moz-transform: scale(1); }
  30% { -moz-transform: scale(1); }
  40% { -moz-transform: scale(1.3); }
  50% { -moz-transform: scale(1); }
  60% { -moz-transform: scale(1); }
  70% { -moz-transform: scale(1.3); }
  80% { -moz-transform: scale(1); }
  100% { -moz-transform: scale(1); }
}
@-o-keyframes pulse {
  0% { -o-transform: scale(1); }
  30% { -o-transform: scale(1); }
  40% { -o-transform: scale(1.3); }
  50% { -o-transform: scale(1); }
  60% { -o-transform: scale(1); }
  70% { -o-transform: scale(1.3); }
  80% { -o-transform: scale(1); }
  100% { -o-transform: scale(1); }
}

/**
* Buttons and all that jazz
*/
.btn-down, .btn-left {
  opacity: 0;
  display: block;
  left: 0;
  pointer-events: all;
  position: absolute;
  right: 0;
  margin-top: -20px;
  margin-left: 6.5%;
  z-index: 4;
}
.paper-button:before, .paper-button:after {
  background: no-repeat 50% 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 50px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: $accentColor;
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -moz-transition: all .28s cubic-bezier(.4,0,.2,1);
  -webkit-transition: all .28s cubic-bezier(.4,0,.2,1);
  transition: all .28s cubic-bezier(.4,0,.2,1);
  width: 50px;
}
.paper-button:before {
  -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
}
.btn-down:hover:before, .btn-left:hover:before {
  -moz-box-shadow: 0 4px 5.5px 0 rgba(0,0,0,.3);
  -webkit-box-shadow: 0 4px 5.5px 0 rgba(0,0,0,.3);
  box-shadow: 0 4px 5.5px 0 rgba(0,0,0,.3);
}
.paper-button:after {
  transition: .1s all ease;
  font-family: 'icomoon';
  margin-left: 10px;
  font-size: 2rem;
  background: transparent;
  color: $textPrimaryColor;
}
.paper-button:not(.btn-down):after {
  content: '\e60e';
}
.paper-button:not(.btn-left):after {
  content: '\e60f';
}
.paper-button:hover:after {
  margin-left: 12px;
  margin-top: 1px;
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Chrome, Safari, Opera */
  transform: scale(1.3);
}


/**
* Media Queries
*/
@include media-query($on-tablet+400px) {
  .post-list li {
    width: 100%;
  }
}
@include media-query($on-tablet) {
  .post-list li {
    width: 100%;
  }
  header {
    padding-top: 14%;
    padding-bottom: 16%;
  }
  header h1 {
    line-height: 2.8rem;
    font-size: 2.5rem;
  }
  header p {
    margin-top: 5px;
    font-size: 1.2rem;
  }
  .post-list h2 a {
    font-size: 1.8rem;
  }
  .post-list li h2 {
    margin-top: 0px;
  }
  header, section, footer {
    padding-left: 5.5%;
    padding-right: 5.5%;
  }
}
@include media-query($on-palm + 100px) {
  .post-list li {
    width: 100%;
  }
  footer {
    p {
      clear: both;
    }
    .social {
      li {
        margin: 5px;
        font-size: 2rem;
        float: left;
      }
    }
  }
  header {
    padding-top: 20%;
    padding-bottom: 30%;
  }
  header h1 {
    line-height: 2.6rem;
    font-size: 2.2rem;
  }
  header p {
    margin-top: 5px;
    font-size: 1rem;
  }
  section span {
    font-size: 1.2rem;
  }
  header, section, footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@include media-query($on-palm - 200px) {
  header {
    padding-top: 25%;
    padding-bottom: 50%;
  }
}


